<div class="container mt-5">

  <section class="row">

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">Criando Primeiro Componente</div>
        <div class="card-body">
          <app-first-component></app-first-component>
        </div>
        <div class="card-footer">Acima podemos observar como funciona a interpolação de dados em nosso componente.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">@Input()</div>
        <div class="card-body">
          <!-- 
            Meu componente pai está passando dados para o componente filho 
            ( app.componente = pai | app.parente-dada = filho )
            Ele utiliza esses dados da forma que achar melhor 
          -->
          <!-- 
            [ dentro dessas chaves passamos um nome que será o mesmo na classe filho ]
            " nas aspas passamos da mesma maneira que fizemos na interpolação com o nome
            que está no Typescript" 
          -->
          <app-parent-data [welcome]="welcome" [userData]="userData"></app-parent-data>
        </div>
        <div class="card-footer">Você pode entender como funciona essa função do Angular abrindo o projeto e lendo o
          HTML e os Typescripts.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">Angular Diretivas</div>
        <div class="card-body">
          <app-directives></app-directives>
        </div>
        <div class="card-footer">Aqui são apenas maneiras de como estilizar seu HTML sem usar CSS básico, confira tudo
          no próprio projeto.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">*ngIf Angular</div>
        <div class="card-body">
          <app-if-render></app-if-render>
        </div>
        <div class="card-footer">Acima utlizamos mais uma diretiva do Angular dessa vez *ngIf, clicando no botão pode
          ver a resposta quando não atende ao criterio do meu if.</div>
      </div>
    </div>

  </section>

  <section class="row mt-5 ">

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">(click)</div>
        <div class="card-body">
          <app-events></app-events>
        </div>
        <div class="card-footer">Utilizando nosso (click) adicionamos eventos em nosso HTML.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">@Output() Angular</div>
        <div class="card-body">
          <app-emitter></app-emitter>
        </div>
        <div class="card-footer">Utilizando o @output() conseguimos fazer com que o filho mande informações para o pai,
          onde toda lógica será feita.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">*ngFor Angular</div>
        <div class="card-body">
          <app-list-render></app-list-render>
        </div>
        <div class="card-footer">Nesse card temos duas aulas, primeiro aprendemos como inicializar uma lista e fazer um
          loop nela e segundo apredemos como criar uma interface assim limpando mais nosso código não deixando a tipagem
          das coisas serem any.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">{{"APRENDENDO SOBRE PIPE" | titlecase}}</div>
        <div class="card-body">
          <app-pipes></app-pipes>
        </div>
        <div class="card-footer">Aprendemos alguns pipes que podem ser interessante na hora de escrever o código, assim
          nos poupando de algum tipo de CSS ou lógica no Typescript.</div>
      </div>
    </div>

  </section>

  <section class="row mt-5 ">

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">Two Way Data Binding</div>
        <div class="card-body">
          <app-two-way-binding></app-two-way-binding>
        </div>
        <div class="card-footer">Ligação de Dados Bidimensional nada mais é que conectar um dados do HTML em tempo real
          a um dados do meu Typescript. Posso mostrar em tela ou usar para lógica do código.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">Services</div>
        <div class="card-body">

        </div>
        <div class="card-footer">Podemos ver mais sobre service na aula onde utilizamos *ngFor porque foi nesse
          componente que fizemos a lógica devido a termos um semi banco de dados.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">Routing Module e Router Link</div>
        <div class="card-body">
          <router-outlet></router-outlet>

          <hr>

          <button class="btn btn-primary mt-2" routerLink="directives">Directives</button> <br>
          <button class="btn btn-primary mt-2" routerLink="emitter">Emitter</button> <br>
          <button class="btn btn-primary mt-2" routerLink="events">Events</button> <br>
          <button class="btn btn-primary mt-2" routerLink="firstComponent">First Component</button> <br>
          <button class="btn btn-primary mt-2" routerLink="ifRender">If Render</button> <br>
          <button class="btn btn-primary mt-2" routerLink="listRender">List Render</button> <br>
          <button class="btn btn-primary mt-2" routerLink="parentData">Parent Data</button> <br>
          <button class="btn btn-primary mt-2" routerLink="pipes">Pipes</button> <br>
          <button class="btn btn-primary mt-2" routerLink="">Router Outlet</button> <br>
          <button class="btn btn-primary mt-2" routerLink="twoWayBinding">Two Way Data Biding</button> <br>
        </div>
        <div class="card-footer">Nesse card conseguimos chamar qualquer aula que quisermos devido ao Routing Module que permite a visualização dos nosso componente através de caminhos utlizando router-outlet.</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card border-dark">
        <div class="card-header" [ngClass]="class">HttpClient</div>
        <div class="card-body">

        </div>
        <div class="card-footer">Podemos acompanhar como funciona essa requisição em nossa aula sobre list, criamos um novo banco de dados que simula uma API assim conseguimos fazer requisiçoes HTTP.</div>
      </div>
    </div>

  </section>
</div>